<div class="wrap">
    <div class="footer__content">
        <div class="footer__section-logo">
            <div class="logo">
                <a class="logo__text" href="/">
                    <h1>PetStory online</h1>
                </a>
            </div>
            <div class="footer__btm">

                <a class="button" href="/donate">donate for volunteers</a>
            </div>
        </div>
        <div class="footer__section-submit">
            <div class="footer__section__subsctibe">Subscribe to our news</div>
            <form class="footer__block__subscribe">
                <input class="footer__email" type="email" placeholder="Enter your email" />
                <div class="footer__submit">
                    <input type="submit" value="submit" />
                </div>
            </form>
        </div>
        <div class="footer__section-contactsRow">
            <ul>
                <li>
                    <a class="footer__contactsItem link" href="">
                        <div class="footer__contactsItem-icon footer__icon-Facebook"></div>
                        <p>Facebook</p>
                    </a>
                </li>
                <li>
                    <a class="footer__contactsItem link" href="">
                        <div class="footer__contactsItem-icon footer__icon-Twitter"></div>
                        <p>Twitter</p>
                    </a>
                </li>
                <li>
                    <a class="footer__contactsItem link" href="">
                        <div class="footer__contactsItem-icon footer__icon-Instagram"></div>
                        <p>Instagram</p>
                    </a>
                </li>
                <li>
                    <a class="footer__contactsItem link" href="">
                        <div class="footer__contactsItem-icon footer__icon-YouTube"></div>
                        <p>YouTube</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__contacts-nav">
            <nav>
                <ul class="footer__nav__ul">
                    <li>
                        <a class="footer__nav__item link <% if (title == 'about'){%>active<%}%>" href="/">About</a>
                    </li>
                    <li>
                        <a class="footer__nav__item link" href="">Map</a>
                    </li>
                    <li>
                        <a class="footer__nav__item link" href="">Zoos</a>
                    </li>
                    <li>
                        <a class="footer__nav__item link" href="">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__contacts-designed">
            <p>Designed by Alisa Samborskaya</p>
            <p>©RSSchool ©Yem Digital 2021</p>
        </div>
    </div>
</div>