<div class="popup__wrap">
    <div class="wrap">
        <div class="popup__block">
            <div class="logo">
                <a class="logo__text" href="">
                    <h1>PetStory online</h1>
                </a>
            </div>
            <div class="popup__cross">
                <div class="popup__cross__line"></div>
                <div class="popup__cross__line"></div>
            </div>
        </div>
        <nav class="popup__row">
            <ul class="popup__nav__ul">
                <li>
                    <a class="popup__nav__item link <% if (title == 'about'){%>active<%}%>" href="/">About</a>
                </li>
                <li>
                    <a class="popup__nav__item link" href="#">Map</a>
                </li>
                <li>
                    <a class="popup__nav__item link" href="#">Zoos</a>
                </li>
                <li>
                    <a class="popup__nav__item link <% if (title == 'donate'){%>active<%}%>" href="/donate">Donate</a>
                </li>
                <li>
                    <a class="popup__nav__item link" href="#">Contact us</a>
                </li>
                <li>
                    <a class="popup__nav__item link"
                        href="https://www.figma.com/file/ypzT9idgAILaSRVRmDAJxn/online-zoo-3-weeks?node-id=126%3A0">Designed
                        by ©</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
