<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles/donate.css">
    <link rel="stylesheet" href="styles/footer&header.css">
    <!-- <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donat</title>
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet"> -->
    <%-include('./partials/head')%>
</head>
<div class="wrapper">
    <header class="header">
        <%-include('./partials/header')%>
    </header>
    <section class="pick">
        <div class="pick__bg">
            <div class="wrap">
                <div class="pick__title">THE ZOO HAS OFFICIALLY REOPENED BUT WE STILL NEED YOUR HELP!</div>
                <div class="pick__info">Even though the Zoo has been able to reopen, we are at a greatly reduced
                    capacity with educational programs and public and private events cancelled or postponed for
                    additional months. We need you now more than ever to help ensure that
                    we overcome these challenges. We have been actively raising funds in the community, and we are
                    grateful for the generosity. But much more support is still needed, and we need your help! Please
                    consider a gift today – no matter what
                    size – to help us sustain our mission.</div>
                <div class="pick__subtitle">Donation Information</div>
                <div class="pick__block">
                    <div class="pick__blockWrap">
                        <div class="pick__block__title">Pick and feed a friend</div>
                        <div class="pick__block__info">We know the animals bring you joy, and in these extraordinary
                            times, we’re glad.</div>
                        <div class="pick__block__imeges">
                            <div class="pick__block__text">
                                <p>4</p>
                                <p>Panda diet for the day.</p>
                            </div>
                            <div class="pick__block__cros">
                                <img src="./icons/pick_cros.svg" alt="cros">
                            </div>
                            <div class="pick__block__img">
                                <img src="./icons/pick_panda.svg" alt="panda">
                            </div>
                        </div>
                        <div class="pick__block__rengeBlock">
                            <div class="pick__block__renge"></div>
                            <div class="rengeBlock__text">Amount</div>
                            <div class="rengeBlock__line">
                                <div class="rengeBlock__circle">
                                    <div class="rengeBlock__costItem">$5000</div>
                                </div>
                                <div class="rengeBlock__circle">
                                    <div class="rengeBlock__costItem">$2000</div>
                                </div>
                                <div class="rengeBlock__circle">
                                    <div class="rengeBlock__costItem">$1000</div>
                                </div>
                                <div class="rengeBlock__circle">
                                    <div class="rengeBlock__costItem">$500</div>
                                </div>
                                <div class="rengeBlock__circle">
                                    <div class="rengeBlock__costItem">$250</div>
                                </div>
                                <div class="rengeBlock__circle rengeBlock__circleActive">
                                    <div class="rengeBlock__costItem">$100</div>
                                </div>
                                <div class="rengeBlock__circle">
                                    <div class="rengeBlock__costItem">$50</div>
                                </div>
                                <div class="rengeBlock__circle">
                                    <div class="rengeBlock__costItem">$25</div>
                                </div>
                            </div>
                        </div>
                        <div class="pick__pay">
                            <form class="pick__pay__amount">
                                <input class="pick__pay__amount__input" maxlength="4" oninput="javascript: if (this.value.length > this.maxLength)
                                this.value = this.value.slice(0, this.maxLength);" value="100" type="number"
                                    placeholder="Another amount">
                                <img src="./icons/dolar.svg" alt="amount">
                            </form>
                            <div class="pick__pay__radioBlock">
                                <div class="pick__radioMonth">
                                    <input name="contact" id="pick__radioMonth" type="radio">
                                    <label for="pick__radioMonth">Monthly</label>
                                </div>
                                <div class="pick__radioOnc">
                                    <input name="contact" id="pick__radioOnc" type="radio">
                                    <label for="pick__radioOnc">Once</label>
                                </div>
                            </div>
                            <div class="pick__pay__btm">
                                <button class="button">Feed a friend now</button>
                            </div>
                            <div class="pick__pay__text">Share with your friends on social networks</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <%-include('./partials/footer')%>
    </footer>
    <div class="popup">
        <%-include('./partials/popup')%>
    </div>
</div>

<body>
    <script src="./components/donate.js"></script>
</body>

</html>