<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('./partials/head')%>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <%-include('./partials/header')%>
        </header>

        <main class="main">

        </main>
        <footer class="footer">
            <%-include('./partials/footer')%>
        </footer>
        <!-- <div class="popup">
            <div class="popup__wrap">
                <div class="wrap">
                    <div class="popup__block">
                        <div class="logo">
                            <a class="logo__text" href="">
                                <h1>PetStory online</h1>
                            </a>
                        </div>
                        <div class="popup__cross">
                            <div class="popup__cross__line"></div>
                            <div class="popup__cross__line"></div>
                        </div>
                    </div>
                    <nav class="popup__row">
                        <ul class="popup__nav__ul">
                            <li>
                                <a style="color: orange;" class="popup__nav__item link" href="#">About</a>
                            </li>
                            <li>
                                <a class="popup__nav__item link" href="#">Map</a>
                            </li>
                            <li>
                                <a class="popup__nav__item link" href="#">Zoos</a>
                            </li>
                            <li>
                                <a class="popup__nav__item link" href="../donate/index.html">Donate</a>
                            </li>
                            <li>
                                <a class="popup__nav__item link" href="#">Contact us</a>
                            </li>
                            <li>
                                <a class="popup__nav__item link"
                                    href="https://www.figma.com/file/ypzT9idgAILaSRVRmDAJxn/online-zoo-3-weeks?node-id=126%3A0">Designed
                                    by ©</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div> -->
        <!-- <div class="popup__testimonials">
            <div class="popup__testimonials__content">
                <div name="up" class="popup__testimonials__sliderItem">
                    <div class="popup__testimonials__sliderItems_background">
                        <div class="popup__testimonials__personInfo">
                            <div class="popup__testimonials__person__avatar">
                                <img class="popup__testimonials__slider__img" src="#" alt="avatar">
                            </div>
                            <div class="popup__testimonials__person__text">
                                <div class="popup__testimonials__person__name"></div>
                                <div class="popup__testimonials__person__local"></div>
                                <span> • </span>
                                <div class="popup__testimonials__person__online"></div>
                            </div>
                        </div>
                        <div class="popup__testimonials__review">
                        </div>
                    </div>
                </div>
                <img class="popup__testimonials__cross" src="../../assets/icons/popup__testimonials_icon.svg"
                    alt="cross">
            </div>
        </div> -->
    </div>
    <!-- <script src="/src/index.js"></script> -->
</body>

</html>