<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/footer&header.css">
    <!-- <link rel="stylesheet" href="./assets/styles/footer&header.css"> -->
    <%-include('./partials/head')%>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <%-include('./partials/header')%>
        </header>

        <main class="main">
            <section class="favoriteAnimal">
                <div class="favoriteAnimal__text">
                    <div class="wrap">
                        <div class="favoriteAnimal__title">
                            <div class="favoriteAnimal__circle"></div>
                            <h1>Watch your <span class="color_y">favorite</span> animal online</h1>
                        </div>
                        <div class="favoriteAnimal__btm">
                            <button class="button">watсh online</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="backstage">
                <div class="wrap">
                    <div class="backstage__block">
                        <div class="favoriteAnimal__btm">
                            <button class="button">watсh online</button>
                        </div>
                        <div class="backstage__imge">
                            <img src="./imeges/bamboo-cap.png" alt="man">
                            <img src="./imeges/bamboo-cap__small.png" alt="man">
                        </div>
                        <div class="backstage__text">
                            <div class="backstage__title">The Backstage of the Wilderness World.</div>
                            <p>The site was founded on the basis of a volunteer movement to protect and care for animals.</p>
                            <div class="backstage__subtitle">How it works</div>
                            <p>The main goal is to help the animals, as well as the nature reserves and zoos where they are kept. We are currently working on video projects targeting pandas in China, eagles on an island near Los Angeles, alligators in Florida
                                and gorillas in the Congo. These have a total of more than 1,500 mammals and reptiles.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="pets">
                <div class="wrap">
                    <div class="pets__sliderBlock">
                        <div class="pets__slider">
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege"></div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title"></div>
                                        <div class="pets__slider__subtitle"></div>
                                    </div>
                                    <div class="pets__slider__icon"></div>
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege"></div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title"></div>
                                        <div class="pets__slider__subtitle"></div>
                                    </div>
                                    <div class="pets__slider__icon"></div>
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege "></div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title "></div>
                                        <div class="pets__slider__subtitle "></div>
                                    </div>
                                    <div class="pets__slider__icon "></div>
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege ">
                                </div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title"></div>
                                        <div class="pets__slider__subtitle "></div>
                                    </div>
                                    <div class="pets__slider__icon "></div>
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege ">
    
                                </div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title "></div>
                                        <div class="pets__slider__subtitle "></div>
                                    </div>
                                    <div class="pets__slider__icon "></div>
                                </div>
                            </div>
                            <div class="arrLitle">
                                <div class="arrBack pets__arr button">
                                    <img src="./icons/VectorBack.svg" alt="VectorBack">
                                </div>
                                <div class="arrahead pets__arr button">
                                    <img src="./icons/VectorAhead.svg" alt="VectorAhead">
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege">
    
                                </div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title"></div>
                                        <div class="pets__slider__subtitle "></div>
                                    </div>
                                    <div class="pets__slider__icon "></div>
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege ">
    
                                </div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title "></div>
                                        <div class="pets__slider__subtitle "></div>
                                    </div>
                                    <div class="pets__slider__icon "></div>
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege"></div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title"></div>
                                        <div class="pets__slider__subtitle"></div>
                                    </div>
                                    <div class="pets__slider__icon"></div>
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege"></div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title"></div>
                                        <div class="pets__slider__subtitle"></div>
                                    </div>
                                    <div class="pets__slider__icon"></div>
                                </div>
                            </div>
                            <div class="pets__slider__item">
                                <div class="pets__slider__imege"></div>
                                <div class="pets__slider__info">
                                    <div class="pets__slider__text">
                                        <div class="pets__slider__title"></div>
                                        <div class="pets__slider__subtitle"></div>
                                    </div>
                                    <div class="pets__slider__icon"></div>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
                <div class="arrBig">
                    <div class="arrBack pets__arr button">
                        <img src="./icons/VectorBack.svg" alt="VectorBack">
                    </div>
                    <div class="arrahead pets__arr button">
                        <img src="./icons/VectorAhead.svg" alt="VectorAhead">
                    </div>
                </div>
                <div class="pets__btm">
                    <button class="button">choose your favorite</button>
                </div>
            </section>
            <section class="pickFeed">
                <div class="wrap">
                    <div class="pickFeed__content">
                        <div class="pickFeed__title">Pick and feed a friend</div>
                        <div class="pickFeed__title-text">We know the animals bring you joy, and in these extraordinary times, we’re glad.</div>
                        <div class="pickFeed__subtitle-text">During a time when the COVID-19 epidemic is touching all of our lives, we’re proud and glad that people around the world find joy in PetStory.</div>
                        <div class="pickFeed__text">Even though the zoo has reopened, we need you now more than ever to help us deal with these problems. Please consider a gift to our <a href="./donate/index.html">Emergency Support Fund</a>.</div>
                        <div class="pickFeed__subtitle">How it works</div>
                        <div class="pickFeed__roundArrows">
                            <img src="./icons/pick_arrow_tablet.svg" alt="arrow">
                            <img src="./icons/pick_arrow_tablet.svg" alt="arrow">
    
                            <img src="./icons/pick_arrow_mobile.svg" alt="arrow">
                            <img src="./icons/pick_arrow_mobile.svg" alt="arrow">
                        </div>
                        <div class="pickFeed__block">
                            <div class="pickFeed__item">
                                <div class="pickFeed__imege">
                                    <img src="./icons/pick_pay.svg" alt="pay">
                                </div>
                                <div class="pickFeed__item__text">Pay with card</div>
                            </div>
                            <div class="pickFeed__arrow">
                                <img src="./icons/pick_arrow.svg" alt="arrow">
                            </div>
                            <div class="pickFeed__item">
                                <div class="pickFeed__imege">
                                    <img style="
                                    margin: 41px 0 0 41px;" src="./icons/pick_zoo.svg" alt="zoo">
                                </div>
                                <div class="pickFeed__item__text">Payment goes to the zoo</div>
                            </div>
                            <div class="pickFeed__arrow">
                                <img src="./icons/pick_arrow.svg" alt="arrow">
                            </div>
                            <div class="pickFeed__item">
                                <div class="pickFeed__imege">
                                    <img src="./icons/pick_monkey.svg" alt="monkey">
                                </div>
                                <div class="pickFeed__item__text">Your favourite animal gets delicious dish</div>
                            </div>
                        </div>
                        <div class="pickFeed__link">
                            <a class="button" href="/donate">Feed a friend now</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="testimonials">
                <div class="wrap">
                    <div class="testimonials__content">
                        <div class="testimonials__title">Testimonials</div>
                        <div class="testimonials__slider">
                            <div class="testimonials__slider__block">
                                <div class="testimonials__sliderItems">
                                    <div class="testimonials__sliderItems_background">
                                        <div class="testimonials__personInfo">
                                            <div class="testimonials__person__avatar">
                                            </div>
                                            <div class="testimonials__person__text">
                                                <div class="testimonials__person__name"></div>
                                                <div class="testimonials__person__local"></div>
                                                <span>•</span>
                                                <div class="testimonials__person__online"></div>
                                            </div>
                                        </div>
                                        <div class="testimonials__review"></div>
                                    </div>
    
                                </div>
                                <div class="testimonials__sliderItems">
                                    <div class="testimonials__sliderItems_background">
                                        <div class="testimonials__personInfo">
                                            <div class="testimonials__person__avatar">
                                            </div>
                                            <div class="testimonials__person__text">
                                                <div class="testimonials__person__name"></div>
                                                <div class="testimonials__person__local"></div>
                                                <span> • </span>
                                                <div class="testimonials__person__online"></div>
                                            </div>
                                        </div>
                                        <div class="testimonials__review">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials__sliderItems">
                                    <div class="testimonials__sliderItems_background">
                                        <div class="testimonials__personInfo">
                                            <div class="testimonials__person__avatar">
    
                                            </div>
                                            <div class="testimonials__person__text">
                                                <div class="testimonials__person__name"></div>
                                                <div class="testimonials__person__local"></div>
                                                <span> • </span>
                                                <div class="testimonials__person__online"></div>
                                            </div>
                                        </div>
                                        <div class="testimonials__review">
                                        </div>
                                    </div>
                                </div>
                                <div class="testimonials__sliderItems">
                                    <div class="testimonials__sliderItems_background">
                                        <div class="testimonials__personInfo">
                                            <div class="testimonials__person__avatar">
    
                                            </div>
                                            <div class="testimonials__person__text">
                                                <div class="testimonials__person__name"></div>
                                                <div class="testimonials__person__local"></div>
                                                <span> • </span>
                                                <div class="testimonials__person__online"></div>
                                            </div>
                                        </div>
                                        <div class="testimonials__review">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonials__rengeBlock">
                            <input class="testimonials__renge" type="range" min="0" max="7" value="0">
                        </div>
                        <div class="testimonials__btm">
                            <button class="button">leave feedback</button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <%-include('./partials/footer')%>
        </footer>
        <div class="popup">
            <%-include('./partials/popup')%>
        </div>
        <div class="popup__testimonials">
            <div class="popup__testimonials__content">
                <div name="up" class="popup__testimonials__sliderItem">
                    <div class="popup__testimonials__sliderItems_background">
                        <div class="popup__testimonials__personInfo">
                            <div class="popup__testimonials__person__avatar">
                                <img class="popup__testimonials__slider__img" src="#" alt="avatar">
                            </div>
                            <div class="popup__testimonials__person__text">
                                <div class="popup__testimonials__person__name"></div>
                                <div class="popup__testimonials__person__local"></div>
                                <span> • </span>
                                <div class="popup__testimonials__person__online"></div>
                            </div>
                        </div>
                        <div class="popup__testimonials__review">
                        </div>
                    </div>
                </div>
                <img class="popup__testimonials__cross" src="./icons/popup__testimonials_icon.svg"
                    alt="cross">
            </div>
        </div> 
    </div>

    <script src="./components/index.js"></script>
</body>

</html>