button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}



.video__asideBar-item {
    width: 80px;
    height: 80px;
    position: absolute;
}

.video__asideBar {
    height: 652px;
    width: 99px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.asideBar__item-0 {
    transform: translate(10%, 0%);
}

.asideBar__item-1 {
    transform: translate(10%, 104%);
}

.asideBar__item-2 {
    transform: translate(10%, 208%);
}

.asideBar__item-3 {
    transform: translate(10%, 312%);
}

.asideBar__item-4 {
    transform: translate(10%, 416%);
}

.asideBar__item-5 {
    transform: translate(10%, 518%);
}

.asideBar__item-arrow {
    transform: translate(10%, 622%);
}

.video__title {
    color: rgba(51, 59, 65, 1);
    font-size: 48px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
}

.video__view {
    width: 1160px;
    height: 652px;
}

.video__videoBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.video__choiceVideo__back {
    background-image: url(../../assets/icons/zoos/arrow.svg);
    width: 62px;
    height: 62px;
}

.video__choiceVideo__ahead {
    background-image: url(../../assets/icons/zoos/arrow.svg);
    width: 62px;
    height: 62px;
    transform: scaleX(-1);
}

.video__choice__item {
    width: 267px;
    height: 210px;
}

.video__choiceVideoBlock {
    display: flex;
}

.video__choiceVideo {
    display: flex;
    align-items: center;
}
.video__choice__item{
    background-repeat: no-repeat;
}